<h1 style="padding-left: 1.5em; padding-top: .5em; background: url(<%= image_path("rails.svg") %>) no-repeat; color: #c00;">Two</h1>
<p>This is the second Ruby on Rails application. It’s root is at <samp><%= root_path %></samp>.</p>
